body{

    margin:0;

    font-family:Arial,sans-serif;

    background:#f4f6f9;
}

.container{

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;
}

.card{

    width:450px;

    background:white;

    padding:40px;

    border-radius:20px;

    box-shadow:0 4px 15px rgba(0,0,0,0.1);

    text-align:center;
}

input{

    width:100%;

    padding:15px;

    margin:20px 0;

    border:1px solid #ddd;

    border-radius:10px;

    box-sizing:border-box;
}

button{

    width:100%;

    padding:15px;

    border:none;

    border-radius:10px;

    background:#0b5394;

    color:white;

    cursor:pointer;
}

button:hover{

    background:#083a66;
}

.error{

    color:red;
}

a{

    display:block;

    margin-top:20px;

    text-decoration:none;
}